@use "./styles/displays.scss";
@use "./styles/paint.scss";
@use "./styles/positions.scss";
@use "./styles/sizes.scss";

app-root {
  display: block;
}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  height: 100%;

  display: block;
}